---
import Nav from "./Nav.astro";
---

<footer class="m-4 w-full sm:w-[600px] lg:w-[740px] mx-auto mb-8">
  <div class="flex items-center md:gap-2 flex-col md:flex-row justify-between">
    <span class="text-sm lg:text-base opacity-60"> Aca no reservamos nada</span>
    <Nav />
  </div>
</footer>
