<footer class="m-4 p-y-4 w-full sm:w-[600px] lg:w-[740px] mx-auto">
  <div class="flex items-center gap-2 flex-col md:flex-row justify-between">
    <span class="text-sm text-gray-400 sm:text-center">
      Aca no reservamos nada</span
    >
    <nav class="text-sm text-gray-400 flex flex-row gap-4 lg:gap-8">
      <a
        class="hover:bg-white/30 rounded md:px-2 transition hover:scale-110"
        href="#home"
      >
        Inicio</a
      >
      <a
        class="hover:bg-white/30 rounded md:px-2 transition hover:scale-110"
        href="#experience"
      >
        Experiecia</a
      >
      <a
        class="hover:bg-white/30 rounded md:px-2 transition hover:scale-110"
        href="#projects"
      >
        Proyectos</a
      >
      <a
        class="hover:bg-white/30 rounded md:px-2 transition hover:scale-110"
        href="#about-me"
      >
        Sobre mi</a
      >
    </nav>
  </div>
</footer>
