<footer class="shadow m-4 p-4 w-full sm:w-[600px] lg:w-[740px] mx-auto">
  <div class="flex items-center gap-2 flex-col md:flex-row justify-between">
    <span class="text-sm text-gray-400 sm:text-center">
      Aca no reservamos nada
    </span>
    <nav class="text-sm text-gray-500 flex flex-row gap-4 lg:gap-8">
      <a href="#about"> Sobre mí</a>
      <a href="#experience"> Experiecia</a>
      <a href="#projects"> Proyectos</a>
    </nav>
  </div>
</footer>
