<header class="bg-gray-900 z-20 p-4 w-full fixed">
  <nav
    class="flex flex-row gap-4 lg:gap-8 justify-center items-center mx-auto text-white/80"
  >
    <a
      class="hover:bg-white/10 rounded md:px-4 transition hover:scale-110"
      href="#home"
    >
      Inicio</a
    >
    <a
      class="hover:bg-white/10 rounded md:px-4 transition hover:scale-110"
      href="#experience"
    >
      Experiecia</a
    >
    <a
      class="hover:bg-white/10 rounded md:px-4 transition hover:scale-110"
      href="#projects"
    >
      Proyectos</a
    >
    <a
      class="hover:bg-white/10 rounded md:px-4 transition hover:scale-110"
      href="#about-me"
    >
      Sobre mi</a
    >
  </nav>
</header>
