---
import Nav from "./Nav.astro";
import MoonIcon from "./icons/MoonIcon.astro";
---

<header
  class="bg-gray-200 dark:bg-gray-900 p-4 fixed w-full z-20 mx-auto flex inset-x-0 sm:w-[600px] lg:w-[740px] gap-2"
>
  <Nav />

  <!-- <button
    id="theme-toggle"
    type="button"
    class="hover:bg-gray-300 dark:hover:bg-gray-800 rounded transition hover:scale-110 p-2 border-2 border-black/10 dark:border-white/10"
  >
    <MoonIcon class="size-4 lg:size-6" />
  </button>
  <button
    id="theme-toggle"
    type="button"
    class="hover:bg-gray-300 dark:hover:bg-gray-800 rounded transition hover:scale-110 p-2 border-2 border-black/10 dark:border-white/10"
  >
    <MoonIcon class="size-4 lg:size-6" />
  </button> -->
</header>
