<header
  class="flex justify-center items-center p-4 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-4 lg:gap-8 opacity-80">
    <a href="#about"> Sobre mí</a>
    <a href="#experience"> Experiecia</a>
    <a href="#projects"> Proyectos</a>
    <a href="#contact"> Contactame</a>
  </nav>
</header>
