---
import { HEADER_ITEMS } from "../constants/nav.constants";
import { getI18N } from "../i18n";
import MenuIcon from "./icons/MenuIcon.astro";
import LenguageSelector from "./ui/LenguageSelector.astro";
import ThemeToggle from "./ui/ThemeToggle";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header
  class="bg-gray-200 dark:bg-gray-900 py-4 px-8 md:px-0 fixed w-full z-20 inset-x-0 gap-2 dark:border-gray-600"
>
  <div class="flex justify-between sm:w-[600px] lg:w-[740px] mx-auto gap-x-2">
    <button
      id="menu-toggle"
      type="button"
      class="z-50 inline-flex sm:hidden hover:bg-gray-300 dark:hover:bg-gray-800 rounded transition hover:scale-110 p-1 border-2 border-black/10 dark:border-white/10"
      aria-label="Menu"
    >
      <MenuIcon class="size-6" />
    </button>

    <!-- Menú de navegación móvil para pantallas pequeñas -->
    <nav
      id="mobile-menu"
      class="bg-gray-200/90 dark:bg-gray-900/90 -translate-y-full transition-transform sm:hidden w-full flex flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 h-dvh place-content-center gap-2"
    >
      {
        HEADER_ITEMS.map(({ label, href }) => (
          <a
            href={href}
            class="menu-item text-xl hover:bg-gray-300 dark:hover:bg-gray-800 rounded px-1 py-2  transition hover:scale-110 "
            aria-current="page"
          >
            {i18n.menu[label]}
          </a>
        ))
      }
      <LenguageSelector />
    </nav>

    <nav class="items-center justify-between hidden sm:flex w-full">
      {
        HEADER_ITEMS.map(({ label, href }) => (
          <a
            href={href}
            class="text-sm lg:text-base hover:bg-gray-300 dark:hover:bg-gray-800 rounded px-2 py-2  transition hover:scale-110 "
            aria-current="page"
          >
            {i18n.menu[label]}
          </a>
        ))
      }
      <LenguageSelector />
    </nav>

    <ThemeToggle client:only />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle") as HTMLElement;

    const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;
    const menuItems = document.querySelectorAll(".menu-item");

    if (!menuToggle || !mobileMenu || !menuItems) {
      return;
    }

    menuToggle.addEventListener("click", () => {
      document.body.classList.toggle("overflow-hidden");
      mobileMenu.classList.toggle("translate-y-0");
    });

    menuItems.forEach((elem) => {
      elem.addEventListener("click", function () {
        document.body.classList.toggle("overflow-hidden");
        mobileMenu.classList.toggle("translate-y-0");
      });
    });
  });
</script>
