<header class="bg-gray-900 z-20 p-4 w-full fixed shadow-2xl">
  <nav
    class="flex flex-row gap-4 lg:gap-8 justify-center items-center mx-auto text-white/80"
  >
    <a href="#home"> Inicio</a>
    <a href="#experience"> Experiecia</a>
    <a href="#projects"> Proyectos</a>
    <a href="#about-me"> Sobre mi</a>
  </nav>
</header>
