---
import { getI18N } from "../../i18n";
import Badge from "../ui/Badge.astro";
import Paragraph from "../ui/Paragraph.astro";
interface Props {
  title: string;
  description: string;
  date: string;
  actual: boolean;
}
const { title, description, date, actual } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="absolute size-3 rounded-full mt-1.5 -start-1.5 border border-border bg-foreground"
>
</div>
<header
  class="flex flex-col gap-2 items-start sm:flex-row sm:items-center sm:gap-4 mb-4"
>
  <h3
    class="text-lg md:text-xl font-semibold text-primary gap-4"
  >
    {title}
  </h3>
  {actual && <Badge color="yellow"> {i18n.experience.status.current}</Badge>}
</header>
<time
  class="block mb-2 text-sm md:text-base lg:text-lg leading-none text-foreground/80"
>
  {date}
</time>
<Paragraph>{description}</Paragraph>
