---
import { getI18N } from "../../i18n";
import Badge from "../ui/Badge.astro";
import Paragraph from "../ui/Paragraph.astro";
interface Props {
  title: string;
  description: string;
  date: string;
  actual: boolean;
}
const { title, description, date, actual } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="absolute size-3 rounded-full mt-1.5 -start-1.5 border border-gray-700 bg-gray-700 dark:border-white dark:bg-white"
>
</div>
<header
  class="flex flex-col gap-2 items-start sm:flex-row sm:items-center sm:gap-4 mb-4"
>
  <h4
    class="text-lg md:text-xl font-semibold text-green-800/80 dark:text-green-100/80 gap-4"
  >
    {title}
  </h4>
  {actual && <Badge color="yellow"> {i18n.experience.status.current}</Badge>}
</header>
<time
  class="block mb-2 text-sm md:text-base lg:text-lg leading-none text-gray-500/80 dark:text-gray-400/80"
>
  {date}
</time>
<Paragraph>{description}</Paragraph>
