---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource/onest";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-200 dark:bg-gray-900 text-gray-600 dark:text-gray-400">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Onest", sans-serif;
        scroll-behavior: smooth;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
      }
    </style>
  </body>
</html>
