---
interface Props { color?: "green" | "yellow" | "neutral" }
const { color = "neutral" } = Astro.props;

const COLOR_MAP: Record<Required<Props>["color"], string> = {
  green: "text-brand border-border",
  yellow: "text-accent border-border",
  neutral: "text-fg border-border",
};

const className = `text-xs font-medium me-2 px-2.5 py-0.5 rounded border ${COLOR_MAP[color]}`;
---

<span class={className}>
  <slot />
</span>
