---
import MoonIcon from "../icons/MoonIcon.astro";
import SunIcon from "../icons/SunIcon.astro";
---

<button
  id="dark-mode-button"
  class="dark-mode-button hover:bg-gray-300 dark:hover:bg-gray-800 rounded transition hover:scale-110 p-1 border-2 border-black/10 dark:border-white/10"
  aria-label="Dark Mode Toggle"
>
  <MoonIcon class="mode-icon size-6 text-slate-900 hidden" />
  <SunIcon class="mode-icon size-6 text-green-300" />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const darkModeButtons = document.querySelectorAll(".dark-mode-button");
    const modeIcons = document.querySelectorAll(".mode-icon");

    darkModeButtons.forEach((button) =>
      button.addEventListener("click", () => {
        document.documentElement.classList.toggle("dark");
        modeIcons.forEach((el) => el.classList.toggle("hidden"));
      }),
    );
  });
</script>
