---
import ColombiaFlag from "../icons/flags/ColombiaFlag.astro";

import UniteStatesFlag from "../icons/flags/UniteStatesFlag.astro";
import ChevronIcon from "../icons/ChevronIcon.astro";

const { currentLocale = "es", url } = Astro;
const LOCALES: Record<
  string,
  { code: string; name: string; href: string; flag: typeof ColombiaFlag }
> = {
  en: {
    code: "en",
    href: `/en`,
    name: "English",
    flag: UniteStatesFlag,
  },
  es: {
    code: "es",
    href: "/es",
    name: "Español",
    flag: ColombiaFlag,
  },
};

const currentLocaleData = LOCALES[currentLocale];
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale,
);
const currentPath = url.pathname.replace(currentLocaleData.href, "");
---

<div class="relative inline-block text-left">
  <div
    class="group text-white rounded-md text-xs font-semibold bg-black/30 hover:bg-black/70 transition-all"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <currentLocaleData.flag class="size-4" />
      {currentLocaleData.name}
      <ChevronIcon class="size-4 text-white -mr-1" />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
      {
        otherLocales.map((locale) => (
          <li class="">
            <a
              class="rounded-md bg-black/30 hover:bg-black/70 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={`${locale.href}${currentPath}`}
            >
              <locale.flag class="size-4" />
              {locale.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
