<a
  class="rounded-full border-2 border-border flex justify-center items-center py-1 gap-0 md:gap-x-2 h-12 w-12 md:h-auto md:w-auto px-0 md:px-3 bg-foreground/5 hover:scale-110 hover:bg-accent/20 transition cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
  
</a>
