<a
  class="rounded border-2 border-black/10 dark:border-white/10 flex justify-center items-center gap-x-2 px-1 py-1 md:px-2 bg-white/5 hover:scale-110 hover:bg-gray-300 dark:hover:bg-gray-800 transition cursor-pointer"
  {...Astro.props}
  target="_blank"
  rel="noopener"
  download
>
  <slot />
</a>
