---
interface Props {
  className: string;
}
const { className } = Astro.props;
---

<li
  class={`flex gap-2 rounded-full text-sm py-1 px-1 md:py-1 md:px-3 items-center ${className}`}
>
  <slot />
</li>
